// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "vars";

.js-content-box,
.jquery-ui-content-box {
  border: 1px solid $box-border-color;
  margin: 2rem auto;
  padding: 0.4rem;
  width: $content-width;
}

.jquery-ui-section {
  margin: 2rem auto;
  padding: 0.4rem;
  width: $content-width;

  input {
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 1;
    padding-bottom: 6.4px;
    padding-top: 6.4px;
    vertical-align: middle;
  }

  .ui-button {
    line-height: 1;
  }
}

.image-section {
  margin: 2rem auto;
  padding: 0.4rem;
  width: $content-width;

  .image-block {
    height: 200px;
    width: 600px;

    &.gradient-image-bg {
      background-image: url("images/gradient.png");
      background-repeat: no-repeat;
    }
  }
}
